:root{

}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#to-do-list {
    margin: 15px auto;
    align-items: center;
}

#to-do-list__content {
    width: 580px;
    background-color: #dcdcdc;
    padding: 0 10px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    gap: 5px;
}

#list-name {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 25px;
    line-height: 0;
}

#list {
    gap: 5px;
}

.to-do {
    width: 555px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #ffffff;
}

.to-do__top-bar {
    justify-content: space-between;
    align-items: center;
}

.date {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 0;
}

.top-bar__buttons {
    gap: 4px;
}

.switch {
    display: inline-block;
    width: 34px; /* ширина */
    height: 18px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch::after {
    content: "";
    height: 14px; /* высота кнопки */
    width: 14px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 2px; /* положение кнопки по вертикали относительно основы */
    left: 2px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #118c4e;
}
.switch-on::after {
    left: 18px;
}

.complete {
    background: #9fff99;
    text-decoration: line-through;
}

.button-img {
    background-color: transparent;
    outline: none;
    border: 0;
    background-size: cover;
    cursor: pointer;
}

.edit,
.delete {
    width: 18px;
    height: 18px;
}

.edit {
    background-image: url("../assets/png/pen.png");
}

.delete {
    background-image: url("../assets/png/remove.png");
}

.description {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding-left: 8px;
}

#add {
    width: 26px;
    height: 26px;
    background-image: url("../assets/png/add.png");
}