:root{

}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#editor {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 5px 10px;
    gap: 10px;
    z-index: 1;
}

#editor__input-fields {
    gap: 5px;
}

#input-fields__date,
#input-fields__description {
    justify-content: space-between;
}

.label {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 0;
    cursor: default;
}

#input-date,
#input-description {
    height: 20px;
    width: 200px;
    min-height: 20px;
    font-size: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#input-date {
    width: 203px;
    cursor: pointer;
}

#editor__buttons {
    gap: 5px;
    margin: 0 auto;
}

#save,
#close {
    width: 70px;
    height: 25px;
    background-color: #28d779;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#close {
    background-color: #de4a40;
}

#save:hover {
    box-shadow: 0 0 5px rgba(40, 215, 121, 0.5);
}

#close:hover {
    box-shadow: 0 0 5px rgba(222, 74, 64, 0.5);
}

.hidden {
    display: none;
}

#to-do-list {
    margin: 15px auto;
    align-items: center;
    gap: 10px;
}

#to-do-list__content {
    width: 580px;
    background-color: #dcdcdc;
    padding: 0 10px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    gap: 5px;
}

#list-name {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 25px;
    line-height: 0;
    cursor: default;
}

#list {
    gap: 7px;
}

.to-do {
    width: 555px;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    background: #ffffff;
}

.to-do:hover {
    scale: 1.005;
}

.to-do__top-bar {
    justify-content: space-between;
    align-items: center;
}

.date {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 0;
    cursor: default;
}

.top-bar__buttons {
    gap: 4px;
}

.switch {
    display: inline-block;
    width: 34px; /* ширина */
    height: 18px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #ff8080; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch::after {
    content: "";
    height: 14px; /* высота кнопки */
    width: 14px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 2px; /* положение кнопки по вертикали относительно основы */
    left: 2px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #118c4e;
}
.switch-on::after {
    left: 18px;
}

.completed {
    background: #9fff99;
    text-decoration: line-through;
}

.button-img {
    background-color: transparent;
    outline: none;
    border: 0;
    background-size: cover;
    cursor: pointer;
}

.edit,
.delete {
    width: 18px;
    height: 18px;
}

.edit {
    background-image: url("../assets/png/pen.png");
}

.delete {
    background-image: url("../assets/png/remove.png");
}

.description {
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding-left: 8px;
    cursor: default;
}

#add {
    width: 26px;
    height: 26px;
    background-image: url("../assets/png/add.png");
}

#bottom-bar {
    gap: 10px;
}

#download,
#upload,
#reset {
    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background: #28d779;
    border-radius: 10px;
    padding: 1px 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(40, 215, 121, 0.65);
}

#download:hover,
#upload:hover,
#reset:hover {
    box-shadow: 0 0 15px rgba(40, 215, 121, 100%);
}